.container {
    min-width: 32vw;
    /* width: 30vw; */
    height: 43vw;
    border-radius: 25px;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-right: 5vw;
    flex-direction: column;
}

.imageBox {
    height: 20vw;
    /* background-color: aqua; */
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    min-width: 25vw;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    word-wrap: break-word; /* 단어가 넘칠 때 줄바꿈 처리 */
    overflow-wrap: break-word; /* 긴 단어도 줄바꿈 처리 */
  }

.bottomBox {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.time {
    font-size: 11px;
    font-weight: 600;
    color: #9173FF;
}

.category {
    width: 10vw;
    padding: 3px;
    font-size: 11px;
    color: #979797;
    background-color: #F3F3F3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
